.App {
  display:flexbox;

}
.footer{
  text-align: center;
}

.App-logo{
  height: 100px;
  width: 200px;
  margin-right: 400px;
  margin-left: 200px;
  justify-content: space-around;
}
.home{
  text-align: center;
  padding-top: 4%;
 
}
.bg{
  height: 700px ;
  width: 1400px;
  background-repeat: no-repeat;
  background-size: 300px 100px;
  position: absolute;
  left: -15%; 
  padding-top: 6%;
  
}

.footer{
  text-align: center;
  min-height: 10px;
  background: black;
  padding-bottom: 0%;
  text-decoration: white;
  font-weight: 800;
  margin-top: 60%;
  
  
}