.App {
  display:flexbox;

}
.footer{
  text-align: center;
}

.App-logo{
  height: 100px;
  width: 200px;
  margin-right: 400px;
  margin-left: 200px;
  justify-content: space-around;
}
.home{
  text-align: center;
  padding: 3%;
}
.bg{
  height: 400px ;
  width: 1200px;
  padding-right: 10%;
  padding-left: 10%;
}
.footer{
  text-align: center;
  min-height: 30px;
  padding-bottom: 20px;
  background: #999;
  
}