.App {
  display:flexbox;
  
}
.footer{
  text-align: center;
}

.App-logo{
  height: 90px;
  width: 200px;
  margin-right: 300px;
  margin-left: 100px;
  justify-content: space-around;
}
.home{
  text-align: center;
  padding: -400px;
  display: inline-block;
  width: 50%;
  color: black;
  
 
}
.bg{
  height: 100% ;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer{
  text-align: center;
  min-height: 10px;
  background: black;
  padding-bottom: 0%;
  text-decoration: white;
  font-weight: 700;
  margin-top: 60%;
}
.emoji{
  height: 140px ;
  width: 80px;
  position: absolute;
  top: 299px;
  right: 560px;

}
.left{
  width: 200%;
  height: 100%;
  padding: 25px;
}